*{
	
	padding: 0;
	margin:0;
	font-family: 'Archivo Black', sans-serif;
}
ul{

  background-color: #B9770E   !important;
  padding: 30px;
  
}
li{
	display: inline-block;
	padding: 10px;
    list-style: none;
	text-decoration: none;
}
a{
	color: white;
	text-transform: uppercase;
	padding: 10px;
	text-decoration: none;
}
a:hover{
	color: green;

}
span{
	color: white;
	text-transform: uppercase;
	margin: 0 100px;
	font-size: 30px;
}
.image{
  top: 100px;
  width: 250px;
  height: 250px;
  margin-top: 40px;
  padding: 10px; 
  border-radius: 30px;
}
.decoration{
	text-decoration: none
}
.tex1, .tex2{
	color: white;
}

.cajapadre{
	display: inline-flex;
}
.close{
   position: absolute;  
   margin-left: 30px;
   margin-top: 65px;
   color: black;
   background: #B9770E ;
   width: 15px;
   text-align: center;
   font-size: 15px;
   border-radius: 20px;
   line-height: 15px;
   text-decoration: none;
}
.color-text{
	color: white;
	padding: 10px;
	font-size: 50px;
	/*animacion*/
}
/********/
#textORIGEN{
    top: 30px;
    border-radius: 30px;
    background-color:#B9770E  ;
    display: inline-block;
    color: white;
    font-size: 1.5vw;
    margin: 20px;
    width: 40%;
    font-weight: bold;
    padding: 30px;
}
#textoextincion{
	border-radius: 30px;
    background-color: #B9770E ;
    background-size: 100%;
    display: inline-block;
    color:white;
    font-size: 1.5vw;
    margin: 30px;
    width: 40%;
    font-weight: bold;
    padding: 30px;

}
#textos{
    height: 60vh;
}
#cajadetexto{

    display: inline-block;
    background-color: transparent;
    margin: 20px;
    padding: 30px;
}

#boton{
    margin-top: 40px;
    background-color: #B9770E ;
    margin-right: 25px; 
    margin-left: 30px; 
    height: 50px; 
    width: 350px;
    border: 1px  solid #B9770E ;
    border-radius: 8px;
    display: inline-block;
    color: white;
    font-size: 18px;
}
div.cajapadre{
    display: inline-flex;

}

footer{

	background-color: #B9770E ;
	padding: 30px;
	text-align: center;
	color: white;
}
/*.panda-logo2{
  position: relative;
  width: 100px;
  height: 100px;
  margin-left: 0px;
  color: white;
}
*/








